<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css" integrity="sha256-6tf0AClYiuHJlBUGu5WshPdGrW7hGecAfPADkTlGyiY=" crossorigin="anonymous" /></head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" integrity="sha256-xtpiJw1+6DW1Oac4CVyU7PbCxHxufOBIspA9T79Y384=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css" integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" crossorigin="anonymous" />
		    <link rel="stylesheet" href="/stylesheets/new.css">

<body>
	<div class="ui container">
		<form class="ui form" action="./new" method="POST">
			<h2> Your details </h2>
		  <div class="field">
		    <label>Name</label>
		    <input type="text" name="VName" placeholder="Full Name" required>
		  </div>
		  <div class="field">
		    <label>Email</label>
		    <input type="email" name="VEmail" placeholder="abc@xyz.com" required>
		  </div>
		  <div class="field">
		    <label>Phone</label>
		    <input type="tel" name="VPhone" placeholder="10-digits" required>
		  </div>
		  <div class="field">
		    <label>Check-In Time</label>
		    <input type="time" name="VCheckInTime" required>
		  </div>

		  <h2> Who you want to visit? </h2>

		  <div class="field">
		    <label>Name</label>
		    <input type="text" name="HName" placeholder="Full Name" required>
		  </div>
		  <div class="field">
		    <label>Email</label>
		    <input type="email" name="HEmail" placeholder="abc@xyz.com" required>
		  </div>
		  <div class="field">
		    <label>Phone</label>
		    <input type="tel" name="HPhone" placeholder="10-digits" required>
		  </div>
		  <button class="ui blue basic button" type="submit">Submit</button>
		</form>
		
	</div>
</body>
</html>